/* Titles */
.section-title{
  color: #000;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}

.main-title{
  color: #000;
  font-size: 2rem;
  font-weight: 700;
}

.main-subtitle{
  color: #6c6c6c;
  font-size: 24px;
  font-style: italic;
  font-weight: thin;
  margin-top: -20px;
}

  .section-title-bold{
    color: #000;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .section-title-blue{
    color: #001AFF;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5%;
  }
  .section-subtitle{
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .section-subtitle-blue{
    color: #001AFF;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
/* Texts */
.section-text{
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-text-white{
  color: #f7f4f1; 
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
opacity:75%
}

.section-text{
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}
.section-text-bold{
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 1%;
}
.link-text{
  font-size: 1rem;
  font-weight:lighter;
  color: black;
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-thickness: .15rem;
}

/* blue */
.section-text-blue{
  color: #001AFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0;
}
.section-text-blue-bold{
  color: #001AFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Lines */
.section-line{
  border-bottom: .15rem solid #000000;
  width: 140%;
  margin-right: -20%;
  margin-left: -20%;
  margin-bottom: 2%;
  margin-top: 5%;
  align-self: center;
}

.title-line{
  border-bottom: .05rem solid #000000;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 2%;
  align-self: center;
}

.info-line{
  width: 100%;
  border-top: 2px solid rgb(0, 0, 0);
  margin-top: -10px;
}


/* Containers */

.details {
  display: flex;
  display: row;
  gap: 50px;
  margin-bottom: 30px;
}

.info-block {
  width: 20%;
  background-color: #ffffff;
}

.extra-margin-container{
  margin-left: 4%;
 }

 .horizontal-box-02{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
  margin: 1%;
}

.horizontal-box-insight{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: 100%;
  margin: 1%;
}

.horizontal-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
  height: 100%;
  margin: 1%;
}

.horizontal-container-insight{
  display: flex;
  flex-direction: row;
  justify-content:start;
  justify-items: start;
  align-items:flex-start;
  width: 100%;
}

.horizontal-container-02{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  justify-items: auto;
  align-items:flex-start;
  width: 100%;
  height: 25%;
}


.horizontal-container{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  justify-items: auto;
  align-items: center;
  width: 100%;
  background-color: white;
  height: 25%;
}

.vertical-container{
  display: flex;
  flex-direction: column;
  align-items: left;
}

 /* Images */ 

 .imageItem{
  width: 100%;
  height: auto;
  object-fit: contain;
  display: flex;
}

 .imageItem-02{
  width: 100%;
  height: auto;
  object-fit: contain;
  display: flex;
}

.image-shape-00{
  height: auto;
  width: auto;
}

/* Table */
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th {
  padding: 8px;
  text-align: left;
}

td{
  padding: 8px;
  text-align: left;
  border: 1px solid black;
}

.factor{
  padding: 8px;
  text-align: left;
}

.itemImage{
  max-width: 100%;
  height: auto;
}

/* Table characteristics */
.good {
  color: #239031; 
  background-color: #ddefcf; 
}

.poor {
  color: #ef9520;
  background-color: #f5edd1; 
}
.bad {
  color: #b20300; 
  background-color: #fbece8; 
}

/* Footer */ 
.footer{
  height: 100px;
  width: 140%;
  align-self: center;
  margin-bottom: -20%;
  margin-left: -20%;
  margin-top: 3%;
  background-color: #000;
display: flex;
align-items: center;
justify-content: center;
}
