/* Titles */
.section-title{
  color: #000;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}

.main-title{
  color: #000;
  font-size: 2rem;
  font-weight: 700;
}

.main-subtitle{
  color: #6c6c6c;
  font-size: 24px;
  font-style: italic;
  font-weight: thin;
  margin-top: -20px;
}

.solution-subtitle{
  color: #6c6c6c;
  font-size: 18px;
  font-style: italic;
  font-weight: thin;
}

  .section-title-bold{
    color: #000;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .section-title-blue{
    color: #001AFF;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5%;
  }
  .section-subtitle{
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .section-subtitle-blue{
    color: #001AFF;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
/* Texts */
.section-text{
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.small-text{
  color: #000;
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-text-white{
  color: #f7f4f1; 
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
opacity:75%
}

.section-text{
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}
.section-text-bold{
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 1%;
}
.link-text{
  font-size: 1rem;
  font-weight:lighter;
  color: black;
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-thickness: .15rem;
}

.link-text:hover{
  color: blue;
}

/* blue */
.section-text-blue{
  color: #001AFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 4%;
}
.section-text-blue-bold{
  color: #001AFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Lines */
.section-line{
  border-bottom: .15rem solid #000000;
  width: 110%;
  margin-left: -5%;
  margin-bottom: 7%;
  margin-top: 7%;
  align-self: center;
}

.title-line{
  border-bottom: .05rem solid #000000;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 2%;
  align-self: center;
}

.info-line{
  width: 100%;
  border-top: 2px solid rgb(0, 0, 0);
  margin-top: -10px;
}

.info-line-white{
  width: 100%;
  border-top: 2px solid white;
  margin-top: -10px;
}


/* Containers */

.details {
  display: flex;
  display: row;
  gap: 50px;
  margin-bottom: 30px;
}

.details-l {
  display: flex;
  display: row;
  gap: 7px;
  margin-bottom: 30px;
}

.details-plus {
  display: flex;
  display: row;
  gap: 7px;
  margin-bottom: 30px;
}

.details-four {
  display: flex;
  display: row;
  gap: 50px;
  margin-bottom: 30px;
  background-color: #e8e8e8;
  padding: 5%;
}

.details-black {
  display: flex;
  display: row;
  gap: 50px;
  margin-bottom: 30px;
  background-color: #000000;
  color: white;
}

.black-section {
  background-color: #000000;
  color: rgb(212, 212, 212);
  margin-left: -12.5%;
  margin-right: -12.5%;
  width: 125%;
}

.white-title{
  color: rgb(255, 255, 255);
    }

.black-section-content{
padding-top: 40px;
padding-bottom: 50px;
margin-bottom: 7%;
margin-top: 5%;
margin-left: 10%;
width: 80%;
  .info-line{
    border-top: 2px solid white;
    opacity: 75%;
  }
  .section-title{
color: white;
  }
  .title-line{
    border-color: white;
  }
  .return-button{
    color: white;
  }
}

.info-block {
  width: 20%;
}

.info-block-four {
  width: 25%;
}

.info-block-wide {
  width: 42%;
}

.extra-margin-container{
  margin-left: 4%;
  
 }

 .horizontal-box-02{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
  margin: 1%;
}

.horizontal-box-insight{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: 100%;
  margin: 1%;
}

.horizontal-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
  height: 100%;
  margin: 1%;
}

.horizontal-container-insight{
  display: flex;
  flex-direction: row;
  justify-content:start;
  justify-items: start;
  align-items:flex-start;
  width: 100%;
}

.horizontal-container-02{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  justify-items: auto;
  align-items:flex-start;
  width: 100%;
  height: 25%;
}


.horizontal-container{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  justify-items: auto;
  align-items: center;
  width: 100%;
  background-color: white;
  height: 25%;
}

.vertical-container{
  display: flex;
  flex-direction: column;
  align-items: left;
}

 /* Images */ 

 .imageItem{
  width: 100%;
  height: auto;
  object-fit: contain;
  display: flex;
}

 .imageItem-02{
  width: 100%;
  height: auto;
  object-fit: contain;
  display: flex;
}

.image-shape-00{
  height: auto;
  width: auto;
}

/* Table */
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th {
  padding: 8px;
  text-align: left;
}

td{
  padding: 8px;
  text-align: left;
  border: 1px solid black;
}

.factor{
  padding: 8px;
  text-align: left;
}

.itemImage{
  max-width: 100%;
  height: auto;
}

/* Table characteristics */
.good {
  color: #239031; 
  background-color: #ddefcf; 
}

.poor {
  color: #ef9520;
  background-color: #f5edd1; 
}
.bad {
  color: #b20300; 
  background-color: #fbece8; 
}

/* Footer */ 
.footer{
  height: 100px;
  width: 140%;
  align-self: center;
  margin-bottom: -20%;
  margin-left: -20%;
  margin-top: 10%;
  background-color: #000;
display: flex;
align-items: center;
justify-content: center;
}

/* Button */ 

.return-button {
  position: fixed;
 right: 2%;
 top: 12%;
  margin-top: 0%;
  color: rgb(147, 147, 147);
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-thickness: .15rem;
  z-index: 1200;
  border-radius: 5px;
}

.return-button:hover {
  color: #001AFF;
}


.container {
  width: 100%; 
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  padding: 0;
  margin:0;
  margin-left: -3px;
  margin-right: -6px;
  display: flex;
  flex-direction: row;
  align-items: stretch; 
}

.button-description{
  color: rgb(38, 38, 38);
}

.button-description-02{
  margin-top: 5%;
  margin-bottom: 5%;
}


.button-description-03{
  font-style: italic;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}


.choice-button {
  width: 100%;
  padding: 1px 15px;
  border-radius: 10px; 
  font-size: 16px;
  cursor: pointer;
  text-align: left;
  margin-left: 3px;
  margin-right: 3px;
  border-color: #aeaeae;
  border-width: 1.5px;
  border-style:solid;
}

.choice-button:hover {
  background-color: rgb(211, 211, 211);
}

.choice-button.active {
  background-color: rgb(0, 0, 0);
  border-color: #001AFF;
  border-width: 3px;
  color: white;
  .info-line{
    border-top: 2px solid white;
    opacity: 75%;
  }
  .button-description{
    color: white;
    font-weight: bold;
  }
}

.info-block-l {
  width: 20%;
  padding: 1px 15px;
  border-radius: 10px;  
  border-color: #aeaeae;
  border-width: 1px;
  border-style:solid;
  margin-left: 0;
}

.info-block-plus {
  text-align: center;
  width: 20%;
  padding: 15px 15px;
  border-radius: 10px;  
  border-color: #aeaeae;
  border-width: 1px;
  border-style:solid;
  margin-left: 0;
}


.side-menu {
  position: fixed;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 100;
}

.menu-item {
  width: 15px;
  height: 15px;
  background-color: #ccc;
  margin-bottom: 10px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

/* Menu */

.project-name {
  position: fixed;
  align-items: center;
  transform: rotate(-90deg);  
  text-align: left;
  top: 50%;  
  -ms-transform-origin-x: left;
  -ms-transform-origin-y: top;
  color: rgb(147, 147, 147);
  z-index: 1000;  
  left: -110px;
}

