body {
  font-family: Arial, sans-serif;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  position: absolute;
  top: 2%;
  left: 10%;
  font-size: 18px;
  font-weight: lighter;
  color: #a8a8a8;
}

.navbar {
  position: absolute;
  top: 3%;
  right: 10%; /* Adjust the left position as needed */
  display: flex;
  justify-content: flex-start;
}

.navbar a {
  padding: 10px;
  margin-right: 20px; /* Adjust the spacing between links as needed */
  text-decoration: none;
  color: #333;
}

.navbar a.active {
  font-weight: bold;
  color: blue; /* Change to your preferred color */
}

/* Custom cursor styles */
body {
  cursor:default;
}

/* Project */
/* Add or adjust styles as needed */

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-link {
  text-decoration: none;
  color: inherit;
}

.left-margin-container{
 margin-left: 25%;
  width: 75%;
}

.description{
margin-top: 5%;
font-size: 3rem;
font-weight: 100;
 }

 .description-italic{
  margin-top: 5%;
  font-size: 3rem;
  font-weight: 100;
  font-style: italic;
   }

   .extra-spacing{
    margin-top: 5%;
     }
